<br>
<h1>Dev No!</h1>
<p><%= link_to "Show All Products", "/products/" %></p>
<p><%= link_to "Show Discounted Items", "/products?view=discounted" %></p>
<p><%= link_to "Priced low to high", "/products?view=ascending_sort" %></p>
<p><%= link_to "Priced high to low", "/products?view=descending_sort" %></p>
<p><%= link_to "Random Product", "/products/random" %></p>


<table class="table">
<tr class>
  <th>Item</th>
  <th>Description</th>
  <th>Size</th>
  <th>Price</th>
  <th>Image</th>
</tr>
<% @products.each do |product| %>
  <tr>
    <td class><%= link_to product.item, "/products/#{product.id}" %></td>
    <td class><%= product.description %></td>
    <td class><%= product.size %></td>
    <td class><%= number_to_currency(product.price) %></td>
    <td><img src="<%= product.images.first.image_url %>" width="40" height="60">
    
    </td></a>
  </tr>
<% end %>
</table>