<h1><%= @product.item %></h1>
<h2><%= @product.description %></h2>
<h2>Size: <%= @product.size %></h2>
<h2><%= @product.sale_message %></h2>
<h2>Price: <%= number_to_currency(@product.price) %></h2>
<h2>Tax: <%= number_to_currency(@product.tax) %></h2>
<h2>Total: <%= number_to_currency(@product.total) %></h2>
<h2>Supplier: <%= @product.supplier.name %></h2>
<h2><% @product.images.each do |image| %>
<img src="<%= image.image_url %>" width="40" height="60" class="img-responsive"></h2>
<% end %>
<h2>Created At: <%= @product.friendly_created_at %></h2>
<br>
<h2>Categories: <% @product.categories.each do |category| %>
<h2><%= category.name %>
<% end %>
<br>
<br>
<%= link_to "Delete", "/products/#{@product.id}", method: :delete%><br>
<%= link_to "Edit", "/products/#{@product.id}/edit" %><br>

<%= form_tag '/carted_products', method: :post do %>
  <div>
    <%= label_tag :quantity, "Enter Quantity:" %>
    <%= text_field_tag :quantity, @carted_product.quantity %>
  </div>

  <div>
    <%= hidden_field_tag :product_id, @product.id %>
  </div>

  <a>
  <%= submit_tag "Add to Cart" %>
  </a>
  <% end %>

