<h1>New Supplier</h1>

<p>Supplier Name: <%= @supplier.name %></p>
<p>Email: <%= @supplier.email %></p>
<p>Phone: <%= @supplier.phone %></p>
<p>Active: <%= @supplier.active %></p>


<%= link_to "Edit Resevation", edit_supplier_path %>


